{% extends 'base.html.twig' %}

{% block title %} Panier Controller!{% endblock %}

{% block body %}

{{ include("partiel/title_section.html.twig", {'name':"Mon Panier"}) }}

<div class="container">
    
</div>

{% endblock %}

