{% extends 'base.html.twig' %}

{% block title %}CG MaBoutique{% endblock %}

{% block body %}
<div class="breadcrumb_section bg_gray page-title-mini">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6">
                <div class="page-title">
                    <h1>Conditions Générales</h1>
                </div>
            </div>
            <div class="col-md-6">
                <ol class="breadcrumb justify-content-md-end">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Pages</a></li>
                    <li class="breadcrumb-item active">Conditions Générales</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <h1 class="text-center"> Conditions Générales d'Utilsation du Site MaBoutique </h1>

    <p class="text-justify">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore natus eveniet praesentium blanditiis quia repellendus ea quibusdam, dolorum facere reprehenderit nisi modi eligendi veritatis exercitationem fugiat deleniti, illum dolorem earum?
        Nulla deserunt nostrum omnis eaque? Mollitia fugiat sunt cum quo voluptatem accusantium eius ipsa maxime, reprehenderit aspernatur nostrum aliquam praesentium reiciendis dolorum placeat odio deserunt? Voluptas, quas? Repellat, in fuga!
        Voluptatum dolor non molestias totam aliquam tenetur repudiandae, sit veritatis vel! Ea, quo unde ipsam excepturi fugiat illum quod quidem sint non similique dolores eaque dolor qui. Deserunt, earum quaerat.
        Beatae, esse. Iusto error at autem minima cum earum tempore rem quidem! Dolor quo quas ea rem, officia commodi maiores, reiciendis laudantium corporis vel, eius beatae similique? Voluptates, nam neque.
        Cum consequatur eum, deleniti expedita magnam perspiciatis saepe earum aperiam explicabo. Nulla assumenda rerum beatae in accusantium soluta facilis, deleniti dolor numquam, sit sed? Culpa deserunt sequi numquam necessitatibus quibusdam.
        Commodi, minus nesciunt. Facilis distinctio perspiciatis tempora. Veniam, perferendis itaque. Laudantium at corporis mollitia tenetur, dolore maiores? Illum quisquam a ab corrupti ipsa dolore inventore reprehenderit, neque nam officiis perferendis.
        Voluptatibus, sed velit perferendis dicta, praesentium sunt inventore repellendus libero eaque unde beatae quam dolor incidunt laudantium voluptas nesciunt quod doloremque, dignissimos adipisci facilis consequatur nisi ad error! Voluptas, maxime?
        Tempore vitae distinctio blanditiis dolorem architecto, accusamus, iure eum cupiditate voluptas fuga nostrum debitis quidem quasi, recusandae odit pariatur doloremque accusantium ipsum? Ratione, labore quos officia vitae voluptates odit consectetur?
        Voluptatem aliquid totam voluptatum nam porro fugiat magni quia vel doloribus molestias. Voluptatem, fuga. Ab molestias ratione saepe a in alias, consectetur at consequuntur accusamus? Blanditiis debitis at quasi dolorem.
        Repellendus nobis possimus doloribus iste libero corrupti eum fugiat perspiciatis earum alias necessitatibus accusantium, autem ipsum neque illo magni quas, dicta voluptatum! Doloremque corrupti, natus veritatis modi odio veniam expedita?
        Autem explicabo qui soluta corrupti est? Animi similique reprehenderit neque! Quam beatae necessitatibus perferendis! Unde, tenetur aperiam excepturi, reprehenderit aliquid officiis ullam vitae aut esse doloremque reiciendis, sunt recusandae culpa?
        Commodi laborum illo tempore adipisci fuga iure alias saepe, voluptates necessitatibus non sunt, vel voluptate labore voluptatem facilis expedita quis est assumenda vero deserunt corporis nobis id sit. Tempore, fugiat.
        Vero distinctio nesciunt ratione sit doloribus illo ut expedita ea quos. Modi, rem fugiat! Veniam explicabo optio sapiente ipsa totam doloremque! Sint, repellat nesciunt velit quam eum aut nobis sed.
        Maxime velit est similique? Reprehenderit ut error debitis magnam similique incidunt nulla, esse, dicta hic odit modi et ea obcaecati reiciendis voluptas! Asperiores optio neque doloribus animi, quis magni accusantium!
        Tempora quasi iste quae doloremque quam officia nobis possimus sequi autem molestias nam tenetur, error rerum similique porro perspiciatis est nemo cumque maxime fugiat beatae reiciendis animi facere! Modi, suscipit.
        Consequatur distinctio inventore molestias earum nostrum, dignissimos sed ducimus ea necessitatibus omnis ipsam dolor blanditiis, doloremque illum minima ab, quisquam delectus velit reprehenderit dolores sit officiis. Provident, consequuntur exercitationem. Natus!
        Similique blanditiis sequi facere inventore dolore unde porro voluptates aspernatur architecto, recusandae debitis molestias dolorem animi labore sint obcaecati numquam esse maiores? Modi commodi ipsa tenetur a ex eaque deleniti?
        Dolor omnis perspiciatis iure quia, sit veritatis officiis, placeat ipsa tempora sequi voluptatem non laboriosam. Error ea explicabo, doloremque natus sunt quaerat dolorum aliquid, eligendi ex consequuntur cumque odit! Aliquam.
        Qui quo possimus tempore exercitationem est rem, officia aspernatur accusamus maxime veritatis porro dolorem minima laborum nulla quia, ipsum eos modi ea dicta, expedita debitis cum libero distinctio. Atque, fuga.
        Iusto eos dolorem incidunt illo deleniti fugiat ea ex, quia dolor quidem beatae! Commodi tempora similique, temporibus dignissimos natus, modi consectetur eum earum labore aspernatur voluptas laudantium sint? Porro, numquam.
    </p>
</div>
{% endblock %}
